{% load static %}
{% if product %}
    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href={% url "main_html" %}><img src="{% static "img/core-img/logo.png" %}" alt=""></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <!-- Close Icon -->
            <div class="nav-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
            <div class="logo">
                <a href={% url "main_html" %}><img src="{% static "img/core-img/logo.png" %}" alt=""></a>
            </div>
            <!-- Amado Nav -->
            <nav class="amado-nav">
                <ul>
                    <li><a href= {% url "main_html" %}>Home</a></li>
                    <li><a href= {% url "shop_html" %}>Shop</a></li>
                    <li><a href= {% url "cart_html" %}>Cart</a></li>
                    <li><a href= {% url "checkout_html" %}>Checkout</a></li>
                    <li><a href="#" class="search-nav">Search</a>
                </ul>
            </nav>

            <!-- Social Button -->
            <div class="social-info d-flex justify-content-between">
                <a href="https://www.youtube.com/watch?v=0w6gEFclvh8"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/le_photostudio/"><i class="fa fa-instagram"
                                                                       aria-hidden="true"></i></a>
                <a href="https://www.facebook.com/yellow.rabbit.photostudio?locale=uk_UA"><i class="fa fa-facebook"
                                                                                             aria-hidden="true"></i></a>
                <a href="https://x.com/MagnumPhotos"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </header>
        <!-- Header Area End -->

        <!-- Product Details Area Start -->
        <div class="single-product-area section-padding-100 clearfix">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mt-50">
                                <li class="breadcrumb-item"><a href="{% url 'main_html' %}">Home</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'shop_html' %}">Shop</a></li>
                                <li class="breadcrumb-item"><a href="#"> {{ product.category.name }} </a></li>
                                <li class="breadcrumb-item active" aria-current="page"> {{ product.name }} </li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li class="active" data-target="#product_details_slider" data-slide-to="0"
                                        style="background-image: url('{{ product.image.url }}')">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="1"
                                        style="background-image: url('{{ product.image.url }}')">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="2"
                                        style="background-image: url('{{ product.image.url }}')">
                                    </li>
                                </ol>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">

                                <div class="line"></div>
                                <p class="product-price">${{ product.price }}</p>
                                <a href={% url "product_detail" %}>
                                    <h6>{{ product.name }}</h6>
                                </a>
                                <!-- Ratings & Review -->
                                <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>

                                </div>
                                <!-- Avaiable -->
                                <p class="avaibility"><i class="fa fa-circle"></i> In Stock</p>
                            </div>

                            <div class="short_overview my-5">
                                <p>{{ product.description }}</p>
                            </div>

                            <!-- Add to Cart Form -->
                            <form class="cart clearfix" method="post" action="{% url 'add_to_cart' product.id %}">
                                {% csrf_token %}
                                <button type="submit" name="addtocart" value="5" class="btn amado-btn">Add to cart
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Details Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->
{% else %}
    <p>Product not found.</p>
{% endif %}
