{% load static %}
<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">
    <!-- Mobile Nav (max width 767px)-->
    <div class="mobile-nav">
        <!-- Navbar Brand -->
        <div class="amado-navbar-brand">
            <a href= {% url "main_html" %}><img src="{% static "img/core-img/logo.png" %}" alt=""></a>
        </div>
        <!-- Navbar Toggler -->
        <div class="amado-navbar-toggler">
            <span></span><span></span><span></span>
        </div>
    </div>

    <!-- Header Area Start -->
    <header class="header-area clearfix">
        <!-- Close Icon -->
        <div class="nav-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <!-- Logo -->
        <div class="logo">
            <a href="index.html"><img src="img/core-img/logo.png" alt=""></a>
        </div>
        <!-- Amado Nav -->
        <nav class="amado-nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="cart.html">Cart</a></li>
                <li class="active"><a href="checkout.html">Checkout</a></li>
            </ul>
        </nav>

        <!-- Social Button -->
        <div class="social-info d-flex justify-content-between">
            <a href="https://www.youtube.com/watch?v=0w6gEFclvh8"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/le_photostudio/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/yellow.rabbit.photostudio?locale=uk_UA"><i class="fa fa-facebook"
                                                                                         aria-hidden="true"></i></a>
            <a href="https://x.com/MagnumPhotos"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
    </header>
    <!-- Header Area End -->

    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="checkout_details_area mt-50 clearfix">

                        <div class="cart-title">
                            <h2>Checkout</h2>
                        </div>

                        <form id="checkout-form" method="post" action="{% url 'checkout_html' %}" role="form">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    {{ form.f_name.label_tag }}{{ form.f_name }}
                                    <div class="validate"> {{ form.f_name.errors }}</div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ form.l_name.label_tag }}{{ form.l_name }}
                                    <div class="validate"> {{ form.l_name.errors }}</div>
                                </div>
                                <div class="col-12 mb-3">
                                    {{ form.company_name.label_tag }}{{ form.company_name }}
                                </div>
                                <div class="col-6 mb-3">
                                    {{ form.email.label_tag }}{{ form.email }}
                                    <div class="validate"> {{ form.email.errors }}</div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ form.phone.label_tag }}{{ form.phone }}
                                    <div class="validate"> {{ form.phone.errors }}</div>
                                </div>
                                <div class="col-12 mb-3" style="display: none;">
                                    {{ form.image_ids }}
                                </div>
                                <div class="col-md-3 mb-3">
                                    <div class="cart-summary">
                                        <h5>Cart Total</h5>
                                        <ul class="summary-table">
                                            <li><span>Total:</span> <span>${{ total_price }}</span></li>
                                        </ul>
                                        {% if total_price != 0 %}
                                            <div id="errorMessages" style="display: none;">
                                                Please fill out all required fields correctly.
                                            </div>
                                            <input id="send-btn"  class="btn amado-btn w-100" type="submit" value="Submit">
                                        </input>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="cart-items mt-50">
                        <h5>Cart Items</h5>
                        <ul>
                            {% for item in cart.cart_items.all %}
                                <li>
                                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" width="150">
                                    <span>{{ item.product.name }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        let sendBtn = document.getElementById('send-btn');
                        let form = document.getElementById('checkout-form');
                        let imageIdsInput = document.getElementById('id_image_ids');

                        sendBtn.disabled = true;

                        form.addEventListener('input', function () {
                            sendBtn.disabled = !form.checkValidity();
                        });

                        sendBtn.addEventListener('click', function (event) {
                            if (!form.checkValidity()) {
                                event.preventDefault();
                                form.reportValidity();
                            } else {
                                event.preventDefault();
                                downloadZipAndSubmitForm();
                            }
                        });

                        function downloadZipAndSubmitForm() {
                            const xhr = new XMLHttpRequest();
                            xhr.open("GET", "{% url 'create_zip' %}", true);
                            xhr.responseType = "blob";

                            xhr.onload = function (e) {
                                if (this.status === 200) {
                                    let blob = this.response;
                                    const formData = new FormData(form);
                                    const formRequest = new XMLHttpRequest();
                                    formRequest.open('POST', "{% url 'checkout_html' %}", true);
                                    formRequest.onload = function(e2) {
                                        if (this.status !== 204) {
                                            document.getElementsByTagName("html")[0].innerHTML = this.response;
                                        } else {
                                            let link = document.createElement('a');
                                            link.href = window.URL.createObjectURL(blob);
                                            link.download = "filename.zip";
                                            link.click();
                                            window.location.reload();
                                        }
                                    };
                                    formRequest.send(formData);
                                }
                            };

                            xhr.send();
                        }
                    });
                </script>


            </div>
        </div>
    </div>
</div>