<!-- Single Product Area -->
<div class="col-12 col-sm-6 col-md-12 col-xl-6">
    {% for product in products %}
    <div class="single-product-wrapper">
        <!-- Product Image -->
        <div class="product-img">
            <img src="{{ product.image.url }}" alt="photo here">
            <!-- Hover Thumb -->
            <img class="hover-img" src="{{ product.image.url }}" alt="">
        </div>

        <!-- Product Description -->
        <div class="product-description d-flex align-items-center justify-content-between">
            <!-- Product Meta Data -->
            <div class="product-meta-data">
                <div class="line"></div>
                <p class="product-price">${{ product.price }}</p>
                <a href="product.html">
                    <h6>{{ product.name }}</h6>
                </a>
            </div>
            <div class="cart">
                <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart">
                    <img src="img/core-img/cart.png" alt="">
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
