{% load static %}
<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

    <!-- Mobile Nav (max width 767px)-->
    <div class="mobile-nav">
        <!-- Navbar Brand -->
        <div class="amado-navbar-brand">
            <a href="{% static "index.html" %}"><img src="{% static "img/core-img/logo.png" %}" alt=""></a>
        </div>
        <!-- Navbar Toggler -->
        <div class="amado-navbar-toggler">
            <span></span><span></span><span></span>
        </div>
    </div>

    <!-- Header Area Start -->
    <header class="header-area clearfix">
          <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- Close Icon -->
        <div class="nav-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <!-- Logo -->
        <div class="logo">
            <a href=index.html"><img src="{% static "img/core-img/logo.png" %}" alt=""></a>
        </div>
        <!-- Amado Nav -->
        <nav class="amado-nav">
            <ul>
                <li><a href= {% url "main_html" %}>Home</a></li>
                <li class="active"><a href= {% url "shop_html" %}>Shop</a></li>
                <li><a href="product.html">Product</a></li>
                <li><a href= {% url "cart_html" %}>Cart</a></li>
                <li><a href= {% url "checkout_html" %}>Checkout</a></li>
                <li><a href="#" class="search-nav">Search</a>
            </ul>
        </nav>

        <!-- Social Button -->
        <div class="social-info d-flex justify-content-between">
            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
    </header>
    <!-- Header Area End -->

    <div class="shop_sidebar_area">

        <!-- ##### Single Widget ##### -->
        <div class="widget catagory mb-50">
            <!-- Widget Title -->
            <h6 class="widget-title mb-30">Catagories</h6>

            <!-- Catagories -->
            <div class="catagories-menu">
                <ul>
                    {% for category in categories %}
                        {% if forloop.first %}
                            <li class="nav-item">
                                <a class="nav-link {% if category in categories_choice %}active show{% endif %}"
                                   href="?category={{ category.slug }}">
                                    <h6>{{ category.name }}</h6>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link {% if category in categories_choice %}active show{% endif %}"
                                   href="?category={{ category.slug }}">
                                    <h6>{{ category.name }}</h6>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

        </div>


        <!-- ##### Single Widget ##### -->
        <div class="widget price mb-50">
            <!-- Widget Title -->
            <h6 class="widget-title mb-30">Price</h6>

            <div class="widget-desc">
                <!-- Price Filter Form -->
                <form method="get" action="{% url 'shop_html' %}" class="price-filter-form">
                    <input type="number" name="min_price" placeholder="Min Price" value="{{ request.GET.min_price }}"
                           class="slider-range-input">
                    <input type="number" name="max_price" placeholder="Max Price" value="{{ request.GET.max_price }}"
                           class="slider-range-input">
                    <button type="submit" class="btn-filter">Filter</button>
                </form>

            </div>
        </div>

    </div>

    <div class="amado_product_area section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                        <!-- Total Products -->
                        <div class="total-products">
                            <p>Showing 1-8 0f 25</p>
                            <div class="view d-flex">
                                <a href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <!-- Sorting -->
                        <div class="product-sorting d-flex">
                            <div class="sort-by-date d-flex align-items-center mr-15">
                                <p>Sort by</p>
                                <form action="#" method="get">
                                    <select name="select" id="sortBydate">
                                        <option value="value">Date</option>
                                        <option value="value">Newest</option>
                                        <option value="value">Popular</option>
                                    </select>
                                </form>
                            </div>
                            <div class="view-product d-flex align-items-center">
                                <p>View</p>
                                <form action="#" method="get">
                                    <select name="select" id="viewProduct">
                                        <option value="value">12</option>
                                        <option value="value">24</option>
                                        <option value="value">48</option>
                                        <option value="value">96</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            {% include 'shop_single_produst_area.html' %}

        </div>
    </div>
</div>

<!-- ##### Main Content Wrapper End ##### -->
