{% load static %}
<div class="row">

                <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                    {% for category in categories_choice %}
                        {% for product in products %}
                        <div class="single-product-wrapper" id="menu-{{ category.slug }}">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <img src="{{ product.image.url }}" alt="photo here">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{{ product.image.url }}" alt="">
                                </div>

                                <!-- Product Description -->
                                <div class="product-description d-flex align-items-center justify-content-between">
                                    <!-- Product Meta Data -->
                                    <div class="product-meta-data">
                                        <div class="line"></div>
                                        <p class="product-price">${{ product.price }}</p>
                                        <a href="{% url 'product_detail' %}?product_id={{ product.id }}">
                                            <h6>{{ product.name }}</h6>
                                        </a>
                                    </div>
                                    <div class="cart">
                                        <a href="{% url 'add_to_cart' product.id %}" data-toggle="tooltip"
                                           data-placement="left" title="Add to Cart">
                                            <img src="{% static "img/core-img/cart.png" %}" alt="">
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    {% endfor %}
                </div>
            </div>