{% load static %}

<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

    <!-- Mobile Nav (max width 767px)-->
    <div class="mobile-nav">
        <!-- Navbar Brand -->
        <div class="amado-navbar-brand">
            <a href= {% url "main_html" %}><img src="{% static "img/core-img/logo.png" %}" alt=""></a>
        </div>
        <!-- Navbar Toggler -->
        <div class="amado-navbar-toggler">
            <span></span><span></span><span></span>
        </div>
    </div>

    <!-- Header Area Start -->
    <header class="header-area clearfix">
        <!-- Close Icon -->
        <div class="nav-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <!-- Logo -->
        <div class="logo">
            <a href= {% url "main_html" %}><img src="{% static "img/core-img/logo.png" %}" alt=""></a>
        </div>
        <!-- Amado Nav -->
        <nav class="amado-nav">
            <ul>
             <li class="active" ><a href= {% url "main_html" %}>Home</a></li>
                <li ><a href= {% url "shop_html" %}>Shop</a></li>
                <li><a href= {% url "cart_html" %}>Cart</a></li>
                <li><a href= {% url "checkout_html" %}>Checkout</a></li>
                <li><a href="#" class="search-nav">Search</a>
            </ul>
        </nav>

        <!-- Social Button -->
        <div class="social-info d-flex justify-content-between">
            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
    </header>
    <!-- Header Area End -->

    <div class="products-catagories-area clearfix">
        <div class="amado-pro-catagory clearfix">
            {% for product in all_products %}
                <div class="single-products-catagory clearfix">
                    <a href="{% url 'product_detail' %}?product_id={{ product.id }}">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        <div class="hover-content">
                            <div class="line"></div>

                            <p>From ${{ product.price }}</p>
                            <h4>{{ product.name }}</h4>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- ##### Main Content Wrapper End ##### -->